<html>
<head>

    <title>Ticker Not Found</title>
    
    <script language="JavaScript" type="text/javascript">

        var seconds =10;
        var url="{{url_for('stocks')}}";

        function redirect(){
            if (seconds <=0){
                window.location = url;
            } else {
                seconds--;
                document.getElementById("pageInfo").innerHTML="Redirecting to Stocks Page after "+seconds+" seconds."
                setTimeout("redirect()", 1000)
            }
        }

    </script>

</head>

<body onload="redirect()">
    <h1>Invalid Ticker: {{ticker}}</h1>
    <h2> Please enter tickers from NSE only.</h2>
    <p id="pageInfo"></p>
</html>
