<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stocks</title>
    <link href ="{{ url_for('static', filename = 'form.css') }}" rel = "stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='navbar.css')}}">
</head>
<body>
    <div class = "navi">
    
        <div class = "navbar"> 

            <a href={{url_for('stocks')}}>Stocks</a>
            <a href={{url_for('home')}}>Home</a>
            
            <div class = "logo-div">

                <a href={{url_for('home')}} style = "background-color: rgba(0,0,0,0.0); position: absolute; width: 75px; height: 65px; "></a>
                <img src = "{{url_for('static', filename = 'icon.png')}}" alt = "y u see this shit" class="logo"/>

            </div>

        </div>
    
    </div>
    
    <div class = "page">
        
        {% if req_type == "POST" %}
        
            <h1>POST request</h1>
            <p>Ticker: {{ form_data['ticker'] }}</p>

            <table>
                <tr>
                    {% for i in keys %}
                        <td>
                            {{i}}
                        </td>
                    {% endfor %}
                </tr>
                {% for rows in data %}
                <tr>
                    {% for da in rows %}
                    <td>
                        {{ da }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
    
        {% else %}
    
            <form action="/stocks" method="POST">
            
                <label for="ticker">Stock Ticker:</label>
                <input type="text" name="ticker" id="ticker">
            
                <input type="submit" value="Submit">
            
            </form>
        
        {% endif %}
    
    </div>
    
</body>
</html>